.shopcategory-banner{
    display: block;
    margin: 30px auto;
    width: 82%;
}

.popular-kids{
    display: flex;
    margin: 10%;
    justify-content: space-between;
    align-items: center;
}

.new-collections-kids{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: auto;
    margin-top: -8%;
}

.new-collections-kids h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;

}

.new-collections-kids hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

.Shopcategory-sort{
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #888;
}

.popular p span{
    font-weight: 600;
}

.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
}